WEBMAIL_HOST=webmail.finestar.hr
WEBMAIL_EXTRA_HOST=webmail.barakags.hr
WEBMAIL_TITLE=Finestar Webmail
TRAEFIK_CERT_RESOLVER=cloudflare

SNAPPYMAIL_IMAGE=djmaze/snappymail:latest
SNAPPYMAIL_ADMIN_PASSWORD=change-this-to-a-long-random-password
SNAPPYMAIL_FORCE_HTTPS=true
SNAPPYMAIL_CONTACTS_ENABLE=true
SNAPPYMAIL_UPLOAD_MAX_SIZE=25M
SNAPPYMAIL_MEMORY_LIMIT=256M
SNAPPYMAIL_SECURE_COOKIES=true
SNAPPYMAIL_DEBUG=false

SNAPPYMAIL_DB_HOST=postgis
SNAPPYMAIL_DB_PORT=5432
SNAPPYMAIL_DB_NAME=snappymail
SNAPPYMAIL_DB_USER=snappymail
SNAPPYMAIL_DB_PASSWORD=change-this-db-password

MAIL_IMAP_HOST=mail.finestar.hr
MAIL_IMAP_PORT=993
MAIL_IMAP_SECURITY=ssl
MAIL_SMTP_HOST=mail.finestar.hr
MAIL_SMTP_PORT=587
MAIL_SMTP_SECURITY=starttls
MAIL_SMTP_AUTH=true
MAIL_SIEVE_ENABLED=false
MAIL_SIEVE_HOST=mail.finestar.hr
MAIL_SIEVE_PORT=4190
MAIL_SIEVE_SECURITY=starttls
MAIL_ALLOW_SELF_SIGNED=false

TZ=Europe/Zagreb
